.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
    padding-bottom: 100px;
}

.contentContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    gap: 30px;
}

.filters {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: 24px;
    z-index: 10;
    background-color: #ffffff;
}

.filtersTitle {
    text-align: left;
    font: normal normal 500 16px/56px Samsung Sans;
    letter-spacing: 0px;
    color: #4B4453;
    text-transform: uppercase;
    opacity: 1;
    display: flex;
    flex-direction: row;
    gap: 9px;
    align-items: center;
    height: 42px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 80%;
    margin-left: calc(20% + 30px);
    min-height: 100vh;
}

/* Slider */

.sliderBlock {
    width: 80% !important;
}

.sliderBlock>div {
    height: 500px;
    display: flex;
    align-items: flex-end;
}

.sliderPicture {
    width: 100%;
}

/* Controls */
.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sidebarControls {
    position: relative;
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    border: 3px solid #F2F2F2;
    background-color: #F2F2F2;
    cursor: pointer;
}

.sidebarControlsItem {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
    border-radius: 30px;
    z-index: 2;
}

.light>* {
    width: 24px;
    height: 24px;
}

.dark>* {
    width: 24px;
    height: 24px;
}

.light * {
    stroke: #fff;
}

.dark * {
    stroke: black;
}

.sidebarControlsSlide {
    display: flex;
    top: 0;
    height: 100%;
    width: 50%;
    border-radius: 30px;
    position: absolute;
    background-color: #7F3FFC;
    z-index: 1;
}

.filterControls {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.filterControlsItem {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    padding: 12px 24px;
    text-align: left;
    font: normal normal 500 15px/17px Samsung Sans;
    letter-spacing: 0px;
    color: #4B4453B3;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.filterControlsItem.active {
    background-color: #7F3FFC;
    color: white;
}

.casinos {
    display: flex;
    flex-direction: column;
    gap: 24px;
}



.loader {
    display: flex;
    justify-content: center;
}