.container {}

.sliderBlock {
	width: 80% !important;
}

.sliderBlock>div {
	height: 500px;
	display: flex;
	align-items: flex-end;
}

.sliderPicture {
	width: 100%;
}

.categoryBlocks {
	width: 80%;
	margin: 50px auto 100px auto;
	display: flex;
	align-items: center;
	gap: 30px;
}

.categoryBlocks>* {
	flex: 1 1;
}

.promoBlocks {
	display: flex;
	width: 80%;
	margin: auto;
	margin-bottom: 30px;
	flex-direction: column;
	gap: 15px;
}

.promoBlocksHeader {
	display: flex;
	flex-direction: column;
}

.promoBlocksSubTitle {
	text-transform: uppercase;
	font: normal normal 500 18px/45px Samsung Sans;
	letter-spacing: 0px;
	color: #4B445380;
}

.promoBlocksTitle {
	text-transform: capitalize;
	font: normal normal bold 28px/45px Samsung Sans;
	letter-spacing: 0px;
	color: #4B4453;
}

.promoBlocksContent {
	display: flex;
	gap: 30px;
}

.sitesGallery {
	display: flex;
	gap: 30px;
	flex-wrap: wrap;
	width: 80%;
	margin: auto;
	justify-content: space-between;
}