.container{

}
.slotBlock{
    background: #F2F2F2 0% 0% no-repeat padding-box;
    display: flex;
    padding: 32px 10% 80px;
    flex-direction: column;
    gap: 24px;
}
.slotButtons{
    display: flex;
    margin-left: auto;
    gap: 16px;
}
.rateSlot{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 100px;
    padding: 12px 32px;
    font: normal normal medium 15px/17px Samsung Sans;
    letter-spacing: 0px;
    color: #4B4453;
    cursor: pointer;
}
.buttonForSlot{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 100px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    cursor: pointer;
}
.slotDemoBlock{
    display: flex;
    width: 100%;
    gap: 30px;
}
.slotData{
    min-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.slotDataInfo{
    padding-bottom: 20px;
    border-bottom: 1px solid #4B445333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.dataInfoTitle{
    font: normal normal 500 15px/17px Samsung Sans;
    letter-spacing: 0px;
    color: #4B4453;
}
.dataInfoText{
    font: normal normal normal 15px/17px Samsung Sans;
    letter-spacing: 0px;
    color: #4B4453;
}
.slotButton{
    font: normal normal 500 15px/17px Samsung Sans;
    letter-spacing: 0px;
    color: #F2F2F2;
    text-transform: uppercase;
    background: #7F3FFC 0% 0% no-repeat padding-box;
    border-radius: 24px;
    padding: 15px;
    width: 100%;
    outline: none;
    border: none;
    cursor: pointer;
}
.slotDemoView{
    position: relative;
    display: flex;
    width: 100%;
}
.slotPage{
    padding: 60px 10% 60px;
}
.emptyBlocks{
    display: flex;
    gap: 30px;
}
.emptyBlocks > *{
    flex: 1 1;
    background: #F2F2F2 0% 0% no-repeat padding-box;
    border-radius: 16px;
    height: 145px;
}
.aboutSlot{
    display: flex;
    gap: 30px;
    margin-top: 60px;
    font: normal normal normal 15px/26px Samsung Sans;
    letter-spacing: 0px;
    color: #4B4453CC;
}
.slotDescription * {
    margin: 0;    
    font: normal normal normal 15px/26px Samsung Sans;
    letter-spacing: 0px;
    color: #4B4453CC;
}
.ourScoreText * {
    margin: 0;    
    font: normal normal normal 15px/26px Samsung Sans;
    letter-spacing: 0px;
    color: #4B4453CC;
}
.ourScore{
    background: #F2F2F2 0% 0% no-repeat padding-box;
    border-radius: 16px;
    padding: 32px 24px;
    min-width: 200px;
    width: 30%;
    flex-shrink: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.ourScoreHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 8px;
}
.scoreHeaderText{
    font: normal normal bold 20px/24px Samsung Sans;
    letter-spacing: 0px;
    color: #4B4453;
}
.scorePoints{
    background: #FFC448 0% 0% no-repeat padding-box;
    border-radius: 24px;
    font: normal normal 500 15px/18px Samsung Sans;
    letter-spacing: 0px;
    color: #4B4453;
    padding: 11px 24px;
}
.ourScoreText{
    font: normal normal normal 15px/26px Samsung Sans;
    letter-spacing: 0px;
    color: #4B4453CC;
    width: 100%;
}
.slotsSlider{
    display: block;
    width: 100%;
    margin-bottom: 100px;
}
.slotSlide {
	width: 80% !important;
	display: flex;
	gap: 30px;
}
.slotSlide>div {
	flex: 1 1;
	height: 500px;
	display: flex;
	align-items: flex-end;
	position: relative;
}
.slotsSliderHeader{
    margin: 0px 10% 16px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}
.slotsSliderTitle{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.secondText{
    font: normal normal 500 18px/20px Samsung Sans;
    letter-spacing: 0px;
    color: #4B445380;
    text-transform: uppercase;
}
.mainText{
    font: normal normal bold 28px/30px Samsung Sans;
    letter-spacing: 0px;
    color: #4B4453;
}
.seeMore{
    font: normal normal 500 15px/17px Samsung Sans;
    letter-spacing: 0px;
    color: #4B4453;
    border: 1px solid #4B445333;
    border-radius: 24px;
    padding: 15px 40px;
    cursor: pointer;
}