.container {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    gap: 30px;
    padding-bottom: 20px;
}

.filters {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 24px;
    z-index: 10;
    background-color: #ffffff;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 75%;
    margin-left: calc(25% + 30px);
}

/* Page Content */

.slider {
    border-radius: 16px;
    overflow: hidden;
}

.slide {
    height: 469px;
    background-color: #ccc;
}

.bullet {
    height: 3px;
    width: 24px;
    background-color: #4B445333;
    z-index: 99;
    transition: all .3s ease-in-out;
}

.bulletActive {
    background-color: #7F3FFC;
}

.pagination {
    position: absolute;
    right: 0;
    bottom: 28px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 12px;
    z-index: 99;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sidebarControls {
    position: relative;
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    border: 3px solid #F2F2F2;
    background-color: #F2F2F2;
    cursor: pointer;
}

.sidebarControlsItem {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    border-radius: 30px;
    z-index: 2;
}

.sidebarControlsSlide {
    display: flex;
    top: 0;
    height: 100%;
    width: 50%;
    border-radius: 30px;
    position: absolute;
    background-color: #7F3FFC;
    z-index: 1;
}

.filterControls {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.filterControlsItem {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    padding: 12px 24px;
    text-align: left;
    font: normal normal 500 15px/24px Samsung Sans;
    letter-spacing: 0px;
    color: #4B4453B3;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.filterControlsItem.active {
    background-color: #7F3FFC;
    color: white;
}

.slots {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 30px;
    width: 100%;
}

/* Slot */

.slot {
    position: relative;
    height: 520px;
    min-width: 360px;
    width: 100%;
    flex: 1;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    background-color: rgb(88, 83, 83);
    overflow: hidden;
}

.slot.big .slotInfo {
    left: 32px;
    bottom: 32px;
}

.slotInfo {
    position: absolute;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
}

.slotName {
    text-align: center;
    font: normal normal bold 24px/45px Samsung Sans;
    letter-spacing: 0px;
    color: #F2F2F2;
    text-transform: uppercase;
}

.slotProvider {
    text-align: center;
    font: normal normal normal 15px/45px Samsung Sans;
    letter-spacing: 0px;
    color: #F2F2F2;
}

.slotRating {
    position: absolute;
    right: 32px;
    top: 24px;
    padding: 11px 24px;
    border-radius: 24px;
    background-color: #FFC448;
}

.slotButton {
    position: absolute;
    bottom: 38px;
    right: 32px;
    padding: 15px 40px;
    background-color: #7F3FFC;
    border-radius: 24px;
    text-align: left;
    font: normal normal 500 15px/24px Samsung Sans;
    letter-spacing: 0px;
    color: #F2F2F2;
}