.infoBlock{
    width: 33%;
    display: flex;
    border: 1px solid #4B445333;
    border-radius: 16px;
    padding: 12px 24px;
    gap: 16px;
    justify-content: space-between;
}
.infoBlockLeft{
    display: flex;
    align-items: center;
    gap: 16px;
}
.infoData{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.infoIcon{
    display: flex;
    width: 24px;
    height: 24px;
    position: relative;
}
.infoText{
    font: normal normal normal 15px/17px Samsung Sans;
    letter-spacing: 0px;
    color: #4B4453;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.infoTitle{
    font: normal normal 500 15px/17px Samsung Sans;
    letter-spacing: 0px;
    color: #4B4453;
}
.infoData{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
    font: normal normal normal 15px/26px Samsung Sans;
    letter-spacing: 0px;
    color: #4B4453;
}
.infoBlock{
    min-width: 250px;
    flex: 1 1;
}