.categoryBlock {
    border: 1px solid #4B445333;
    border-radius: 16px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
    flex-direction: column;
    cursor: pointer;
}

.categoryInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}

.categoryTitle {
    font: normal normal bold 24px/26px Samsung Sans;
    letter-spacing: 0px;
    color: #4B4453;
    text-align: center;
    text-transform: uppercase;
}

.categoryDescription {
    font: normal normal normal 15px/17px Samsung Sans;
    letter-spacing: 0px;
    color: #4B445380;
    text-align: center;
    margin: 0;
    text-transform: capitalize;
}

.ImgWithRound{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    width: 180px;
    height: 180px;
}