.container{
    position: relative;
    cursor: pointer;
}
.header{    
    display: flex;
    align-items: center;
    gap: 16px;    
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #4B445333;
    border-radius: 30px;
    padding: 12px 27px;
}
.icon{
    display: flex;
    align-items: center;
    justify-content: center;
}
.textInfo{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.description{
    font: normal normal normal 12px/14px Samsung Sans;
    letter-spacing: 0px;
    color: #4B4453B3;
}
.selected{
    font: normal normal normal 15px/17px Samsung Sans;
    letter-spacing: 0px;
    color: #4B4453;
}
.tick{
    margin-left: auto;
    display: flex;
}
.tick::before{
    content: "";
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #4B4453;
    border-right: 2px solid #4B4453;
    border-radius: 2px;
    transform: rotateZ(45deg);
    margin-top: -2px;
}
.itemsContainer{
    width: 100%;
    left: 0px;
    top: 100%;
    position: absolute;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    overflow: hidden;
    border-radius: 0px 0px 30px 30px;
    max-height: 300px;
    z-index: 9999;
}
.itemsWrap{    
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 300px;
}
.item{
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 14px 27px;
}
.itemText{
    font: normal normal normal 15px/17px Samsung Sans;
    letter-spacing: 0px;
    color: #4B4453;
}