.container{
    position: relative;
    display: flex;
    margin-right: 24px;
}
.language {
    width: max-content;
    cursor: pointer;
    padding: 13px 24px;
    border-radius: 24px;
    border: 1px solid #4B445333;
    min-width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    font: normal normal 500 15px/18px Samsung Sans;
    letter-spacing: 0px;
    color: #4B4453;
    gap: 8px;
}
.separator{
    background: #4B445333;
    height: 18px;
    width: 1px;
}
.languageSelector{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #4B445333;
    border-radius: 0px 0px 16px 16px;
    position: absolute;
    padding: 28px 24px;
    top: calc(100% + 16px);
    right: 0;
    width: 360px;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.languageHeader{
    font: normal normal 500 22px/28px Samsung Sans;
    letter-spacing: 0px;
    color: #4B4453;
}
.applyOrReset{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.buttonApply{
    background: #7F3FFC 0% 0% no-repeat padding-box;
    border-radius: 24px;
    padding: 15px 32px;
    cursor: pointer;
    font: normal normal 500 15px/17px Samsung Sans;
    letter-spacing: 0px;
    color: #F2F2F2;
}
.buttonReset{
    font: normal normal 500 15px/17px Samsung Sans;
    letter-spacing: 0px;
    color: #4B4453B3;
    margin-right: 27px;
    cursor: pointer;
}