.promoBlock {
	flex: 1 1;
	position: relative;
}

.promoBackground {
	background: #7F3FFC 0% 0% no-repeat padding-box;
	border-radius: 16px;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	bottom: 0px;
}

.promoContent {
	display: flex;
	flex-direction: column;
	padding: 21px 40px 21px 40px;
	gap: 21px;
	width: 60%;
	height: 100%;
	justify-content: space-between;
}

.promoContentInfo {
	gap: 21px;
	display: flex;
	flex-direction: column;
}

.promoTitle {
	display: flex;
	gap: 16px;
	z-index: 1;
}

.promoSiteInfo {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.promoReputation {
	width: 58px;
	height: 58px;
}

.promoCountry {
	font: normal normal bold 15px/20px Samsung Sans;
	letter-spacing: 0px;
	color: #FFFFFF;
	text-transform: uppercase;
}

.promoBonusInfo {
	display: flex;
	flex-direction: column;
	gap: 16px;
	z-index: 1;
}

.promoBonus {
	font: normal normal 500 22px/35px Samsung Sans;
	letter-spacing: 0px;
	color: #F2F2F2;
}

.promoCheckInfo {
	font: normal normal normal 15px/26px Samsung Sans;
	letter-spacing: 0px;
	color: #F2F2F2;
	display: flex;
	align-items: center;
}

.promoCheckInfo::before {
	background-image: url("/images/icons/ок.png");
	background-size: 14px;
	display: inline-block;
	width: 14px;
	height: 14px;
	content: "";
	flex-shrink: 0;
	margin-right: 10px;
}

.promoBonusButton {
	display: flex;
	align-items: center;
	gap: 24px;
	z-index: 1;
}

.promoGetBonus {
	background: #4B445333 0% 0% no-repeat padding-box;
	border-radius: 24px;
	padding: 15px 40px;
	font: normal normal 500 15px/16px Samsung Sans;
	letter-spacing: 0px;
	color: #F2F2F2;
	border: none;
	outline: none;
	cursor: pointer;
}

.promoBonusApply {
	font: normal normal medium 15px/24px Samsung Sans;
	letter-spacing: 0px;
	color: #F2F2F2;
	text-decoration: none;
}

.characters {
	width: 40%;
	position: absolute;
	height: 120%;
	right: 0;
	bottom: 0;
}