.siteCard {
    display: flex;
    flex-direction: column;
    border: 1px solid #4B445333;
    border-radius: 16px;
    width: calc(33% - 18px);
}

.cardHeader {
    padding: 21px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    width: calc(100% + 2px);
    margin-left: -1px;
    margin-top: -1px;
    margin-right: -1px;
    border-radius: 16px 16px 0px 0px;
}

.badRep .cardHeader {
    background: #EA000033 0% 0% no-repeat padding-box;
    color: #EA0000;
}

.badRep:hover {
    border: 1px solid #EA0000;
}

.badRep:hover .cardHeader {
    background: #EA0000 0% 0% no-repeat padding-box;
    color: #F2F2F2;
}

.badRep:hover text {
    fill: #F2F2F2 !important;
}

.goodRep .cardHeader {
    background: #FF845733 0% 0% no-repeat padding-box;
    color: #FF8457;
}

.goodRep:hover {
    border: 1px solid #FF8457;
}

.goodRep:hover .cardHeader {
    background: #FF8457 0% 0% no-repeat padding-box;
    color: #F2F2F2;
}

.goodRep:hover text {
    fill: #F2F2F2 !important;
}

.veryGoodRep .cardHeader {
    background: #00C69C33 0% 0% no-repeat padding-box;
    color: #00C69C;
}

.veryGoodRep:hover {
    border: 1px solid #00C69C;
}

.veryGoodRep:hover .cardHeader {
    background: #00C69C 0% 0% no-repeat padding-box;
    color: #F2F2F2;
}

.veryGoodRep:hover text {
    fill: #F2F2F2 !important;
}

.perfectRep .cardHeader {
    background: #7F3FFC33 0% 0% no-repeat padding-box;
    color: #7F3FFC;
}

.perfectRep:hover {
    border: 1px solid #7F3FFC;
}

.perfectRep:hover .cardHeader {
    background: #7F3FFC 0% 0% no-repeat padding-box;
    color: #F2F2F2;
}

.perfectRep:hover text {
    fill: #F2F2F2 !important;
}

.reputation {
    display: flex;
    align-items: center;
    gap: 8px;
}

.reputation span {
    text-transform: capitalize;
    text-align: right;
    font: normal normal 500 15px/20px Samsung Sans;
    letter-spacing: 0px;
}

.repVisualizer {
    width: 60px;
    height: 60px;
}

.repVisualizer * {
    font: normal normal normal 14px/20px Samsung Sans;
}

.cardContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 24px 24px 32px 24px;
}

.contentTitle {
    font: normal normal bold 24px/34px Samsung Sans;
    letter-spacing: 0px;
    color: #4B4453;
    display: flex;
    gap: 16px;
    margin-bottom: 8px;
}

.starsBlock {
    display: flex;
    gap: 6px;
    align-items: center;
}

.contentData {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 27px;
}

.bonus {
    font: normal normal bold 16px/18px Samsung Sans;
    letter-spacing: 0px;
    color: #4B4453;
}

.checkInfo {
    font: normal normal normal 15px/17px Samsung Sans;
    letter-spacing: 0px;
    color: #4B4453;
    display: flex;
    gap: 8px;
    align-items: center;
}

.checkInfo::before {
    background-image: url("/images/icons/circle-check.svg");
    background-size: 14px;
    display: inline-block;
    width: 14px;
    height: 14px;
    content: "";
    flex-shrink: 0;
}

.contentGames {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 32px;
}

.gamesTitle {
    font: normal normal normal 13px/15px Samsung Sans;
    letter-spacing: 0px;
    color: #4B4453B3;
}

.gamesCircles {
    display: flex;
    gap: 12px;
}

.gamesCircles>div {
    position: relative;
    overflow: hidden;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background: #4B44531A 0% 0% no-repeat padding-box;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    font: normal normal 500 15px/24px Samsung Sans;
    letter-spacing: 0px;
    color: #4B4453;
    opacity: 1;
}

.buttonBonus {
    display: flex;
    align-items: center;
    gap: 24px;
}

.getBonus {
    background: #7F3FFC 0% 0% no-repeat padding-box;
    border-radius: 24px;
    padding: 15px 40px;
    border: none;
    outline: none;
    color: #F2F2F2;
    font: normal normal medium 15px/17px Samsung Sans;
    cursor: pointer;
}

.bonusApply {
    font: normal normal medium 15px/24px Samsung Sans;
    letter-spacing: 0px;
    color: #4B445380;
}