.sliderWrap {
    height: 500px;
    position: relative;
}

.sliderWrap>*>*:before,
.sliderWrap>*>*::after {
    content: "";
    z-index: 2;
    position: absolute;
    top: calc(50% - 35px);
    background: #fff;
    border-radius: 100px;
    width: 70px;
    height: 70px;
}

.mainSl.sliderWrap>*>*:before,
.mainSl.sliderWrap>*>*::after {
    top: calc(50% - 35px + 45px);
}

.sliderWrap>*>*::before {
    left: -54px;
}

.sliderWrap>*>*::after {
    right: -54px;
}

.slideNavPrev,
.slideNavNext {
    /* background: #7F3FFC; */
    width: 50px;
    height: 50px;
    position: absolute;
    top: calc(50% - 25px);
    z-index: 3;
    cursor: pointer;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainSl .slideNavPrev,
.mainSl .slideNavNext {
    top: calc(50% - 25px + 45px);
}

.slideNavPrev::before,
.slideNavNext::before,
.slideNavPrev::after,
.slideNavNext::after,
.slideNavPrev *::before,
.slideNavNext *::before,
.slideNavPrev *::after,
.slideNavNext *::after {
    display: none;
}

.slideNavPrev {
    left: calc(10% - 25px - 19px);
}

.slideNavNext {
    right: calc(10% - 25px - 19px);
}

@media screen and (max-width: 1440px) {
    .slideNavPrev {
        left: calc(5% - 25px - 19px);
    }

    .slideNavNext {
        right: calc(5% - 25px - 19px);
    }
}

@media screen and (max-width: 425px) {
    .slideNavPrev {
        left: -15px
    }

    .slideNavNext {
        right: -15px;
    }
}