/* Slot */

.slot {
    position: relative;
    min-height: 300px;
    height: 100%;
    min-width: 250px;
    width: 100%;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    background-color: rgb(88, 83, 83);
    overflow: hidden;
    min-height: 400px;
}

.slot.big .slotInfo {
    left: 32px;
    bottom: 32px;
}

.pictureArea::after {
    content: "";
    background: transparent linear-gradient(180deg, #4B445300 0%, #4B445380 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.slot:hover .pictureArea::after {
    background: transparent linear-gradient(180deg, #4B445300 0%, #4B4453CC 100%);
}

.slotInfo {
    position: absolute;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
    color: #F2F2F2;
}



.slot.big .slotInfo {
    align-items: flex-start;
}

.slotName {
    text-align: center;
    font: normal normal bold 24px/26px Samsung Sans;
    letter-spacing: 0px;
    color: #F2F2F2;
    text-transform: uppercase;
}

.slotProvider {
    text-align: center;
    font: normal normal normal 15px/17px Samsung Sans;
    letter-spacing: 0px;
    color: #F2F2F2;
}

.slotRating {
    position: absolute;
    right: 32px;
    top: 24px;
    padding: 11px 24px;
    border-radius: 24px;
    background-color: #FFC448;
    font: normal normal 500 15px/18px Samsung Sans;
    letter-spacing: 0px;
    color: #4B4453;
}

.slotButton {
    position: absolute;
    bottom: 38px;
    right: 32px;
    padding: 15px 40px;
    background-color: #7F3FFC;
    border-radius: 24px;
    text-align: left;
    font: normal normal 500 15px/18px Samsung Sans;
    letter-spacing: 0px;
    color: #F2F2F2;
    cursor: pointer;
}

.slotButtonCenter {
    position: absolute;
    bottom: 30px;
    padding: 15px 40px;
    background-color: #7F3FFC;
    border-radius: 24px;
    text-align: left;
    font: normal normal 500 15px/18px Samsung Sans;
    letter-spacing: 0px;
    color: #F2F2F2;
    cursor: pointer;
}