/* Slot */

.slot {
    position: relative;
    min-height: 300px;
    height: 100%;
    min-width: 250px;
    width: 100%;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    background-color: rgb(88, 83, 83);
    overflow: hidden;
}

.slot.big .slotInfo {
    left: 32px;
    bottom: 32px;
}

.slotInfo {
    position: absolute;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
}

.slotName {
    text-align: center;
    font: normal normal bold 24px/45px Samsung Sans;
    letter-spacing: 0px;
    color: #F2F2F2;
    text-transform: uppercase;
}

.slotProvider {
    text-align: center;
    font: normal normal normal 15px/45px Samsung Sans;
    letter-spacing: 0px;
    color: #F2F2F2;
}

.slotRating {
    position: absolute;
    right: 32px;
    top: 24px;
    padding: 11px 24px;
    border-radius: 24px;
    background-color: #FFC448;
}

.slotButton {
    position: absolute;
    bottom: 38px;
    right: 32px;
    padding: 15px 40px;
    background-color: #7F3FFC;
    border-radius: 24px;
    text-align: left;
    font: normal normal 500 15px/24px Samsung Sans;
    letter-spacing: 0px;
    color: #F2F2F2;
}