.input{
    width: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #1A1C2133;
    border-radius: 24px;
    padding: 15px 24px;
    font: normal normal normal 15px/16px Samsung Sans;
    letter-spacing: 0px;
    color: #1A1C21B3;
    outline: none;
}
.input::placeholder{
    color: #4B4453B3;
}