.wrap {
    position: relative;
}

.input {
    width: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #1A1C2133;
    border-radius: 24px;
    padding: 15px 24px;
    font: normal normal normal 15px/16px Samsung Sans;
    letter-spacing: 0px;
    color: #1A1C21B3;
    outline: none;
}

.input::placeholder {
    color: #4B4453B3;
}

.input[type="date"] {
    padding: 13px 24px 14px;
}

.input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 24px;
    top: 12px;
    background-image: url(/images/icons/calendar.svg);
    height: 24px;
    width: 24px;
}

.label {
    position: absolute;
    text-align: left;
    font: normal normal normal 12px/26px Samsung Sans;
    letter-spacing: 0px;
    color: #4B4453B3;
    opacity: 1;
    left: 24px
}